<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>cms</title>
    <!-- -->
    <!-- Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script> 
    <!-- CSS -->   
    <link rel="stylesheet" href="/css/main.css?A2">
    <link rel="stylesheet" href="/css/theme.css?A2">
    <link href="/css/main-sp.css?A1" rel="stylesheet" media="screen and (max-width: 480px)">
    <link rel="stylesheet" href="/css/top_scroll.css?A1">
    <script src="/js/marked.min.js"></script>
    <style>
    div#div_img_main2 {
        height: 300px;
        color: #FFF;
        margin: 0 0 0px;
        width: 100%;
        background:#ddd url(/img/ph2.jpg) no-repeat center center;
        background-size: cover;
        text-align: center;
    }
    </style>
</head>
<body class="drawer drawer--left" >
    <!-- navi -->
    <div id="div_navigate_index">
        <div id="div_head" class="cover">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="/"><p>TestCMS</p></a>
                    </div>
                    <div class="col-sm-8" style="text-align: right;">
                    <!-- nav -->	  
                        <div class='menubar'>
                            <ul class='menu text-border'>
                                <li><a href='#post_items_box'>posts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end_div_head -->
        <!-- mobile-nav -->
        <div id="nav-mobile" style="width:100%;">
            <a class="toggle">
                <span class="glyphicon glyphicon-menu-hamburger" style="font-size: 34px; color: #FFF"></span>
            </a>
            <div class="mobile-child">
                <ul class='ul_mobile-child'>
                <li class="mobile-menu-item"><a href='#post_items_box'>posts</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- -->
    <div class="body_main_wrap" style="background-color: #EEE">
        <div id="div_img_main2"  class="cover" style="" valign="bottom">
            <div id="div_img_layer">
                <h1>〇〇 Blog<br />
                </h1>
            </div>
        </div> 
        <div class="container">
            <div class="row conte" id="id_row_service" style="margin-top:10px;">
                <div class="col-sm-12" style="text-align:center;">
                <h2 class="h4_td_title mt-2">トピック</h2>
                <hr class="hr_ex1"/>
                </div>
            </div>
            <div class="row conte">
                <div class="col-sm-4">
                <img class="img_kao" src="/img/pc1.png" style="margin : 10px;">
                </div>
                <div class="col-sm-8">
                <h3>このサイトの紹介 1</h3>
                <p> <br>
                </p>
                </div>
            </div>
            <div class="row conte">
                <div class="col-sm-4">
                <img class="img_kao" src="/img/pc1.png" style="margin : 10px;">
                </div>
                <div class="col-sm-8">
                <h3>このサイトの紹介 2</h3>
                <p> <br>
                </p>
                </div>
            </div>       
            <!-- -->
            <div id="app" class="body_wrap">
                <!-- margin: 20px 0px; -->
                <div id="post_items_box" class="row conte" style="margin-top: 10px; margin-bottom:20px;">
                    <div class="col-sm-12">
                        <div id="div_news">
                            <h2 class="h4_td_title mt-2" >新着の投稿</h2>
                        </div>
                        <div class="post_items_wrap" v-for="item in cms_items" v-bind:key="item.id"
                        style="margin-bottom: 20px;">
                            <div class="div_news_rows" style="width:100%;"
                                v-on:click="open_modal(item.id)">
                                <span  style="font-size: 28px; float :left;">
                                    <i class="fas fa-arrow-circle-right"></i>
                                </span>
                                <h3 class="">&nbsp;{{ item.title }}
                                </h3>
                            </div>
                            <div style="width:100%;">
                                <ul class="ul_time_box">
                                    <p class="mb-0">&nbsp;&nbsp;
                                        <span style="font-size: 20px;">
                                            <i class="far fa-calendar"></i>
                                        </span>
                                        &nbsp;
                                        {{ item.created_at }} , ID: {{item.id}}
                                    </p>
                                </ul>
                            </div>                
                            <hr class="hr_ex1"  />
                        </div>
                        <!-- paginate -->
                        <div v-if="pagenate_display==1" class="paginate_wrap" 
                            style="text-align: center;">
                            <button v-on:click="get_next_items()" class="btn btn-lg btn-outline-primary">
                                次ページを読む
                            </button>
                        </div>
                        <br />
                    </div>
                </div>  
                <!-- modal -->	
                <div class="modal fade" id="myModal" tabindex="-1"
                    role="dialog" aria-labelledby="label1" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="label1">
                                {{ modal_item.created_at }}
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h1>{{ modal_item.title }} </h1>
                            ID: {{modal_item.id}}
                            <hr class="hr_ex1"  />
                            <div id="post_item" v-html="modal_item.content"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        </div><!-- modal-content -->
                    </div><!-- modal-dialog -->
                </div><!-- modal -->                

            </div> <!-- end_app -->   
        </div><!-- end_container -->
    </div><!-- end_body_main_wrap -->    

    <!-- foot --> 
    <div class="foot_area_wrap">
        <p class="p_foot_str">About</p>
    </div>        

<!-- -->
<!-- -->
<script src="/js/LibCommon.js?a2"></script>
<script src="/js/LibPaginate.js?a3"></script>
<script src="/js/CmsMain.js?a1"></script>

<!-- -->
<style>

div#post_item > p { font-size : 1.6rem; }

div#post_item > p > img{
    max-width : 100%;
    height : auto;
}
div#post_item > hr {
  height: 1px;
  background-color: #000;
  border: none;
}
.foot_area_wrap {
    background-color: #757575 ; 
    color:#FFF ; 
    padding : 200px 40px;
    margin: 0px;
}
.p_foot_str{ font-size : 1.6rem; }
</style>
<!-- built files will be auto injected -->
</body>
</html>
